@font-face {
    font-family: "Roboto";
    src:local(Roboto thin), url("../fonts/Roboto-Thin.ttf") format("ttf") , url("../fonts/Roboto-ThinItalic.ttf") format("ttf");
    font-weight: 100;
}
@font-face {
    font-family: "Roboto";
    src:local(Roboto light), url("../fonts/Roboto-Light.ttf") format("ttf") , url("../fonts/Roboto-LightItalic.ttf") format("ttf");
    font-weight: 300;
}
@font-face {
    font-family: "Roboto";
    src:local(Roboto Regular), url("../fonts/Roboto-Regular.ttf") format("ttf") ;
    font-weight: 400;
}
@font-face {
    font-family: "Roboto";
    src:local(Roboto Medium), url("../fonts/Roboto-Medium.ttf") format("ttf") , url("../fonts/Roboto-MediumItalic.ttf") format("ttf") ;
    font-weight: 500;
}
@font-face {
    font-family: "Roboto";
    src:local(Roboto Bold), url("../fonts/Roboto-Bold.ttf") format("ttf") , url("../fonts/Roboto-BoldItalic.ttf") format("ttf") ;
    font-weight: 700;
}